
.btn-rounded{
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 2rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    // font-size: $default-font-size;
    margin: 0.75rem 1rem ;


    border: none;
    cursor: pointer;
    transition: all .4s;

    @mixin button-bg($bg) {
        background: $bg;
        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 1rem 2rem rgba($color-black,.2);
            // background: rgba($color-primary-dark, .9);
            background:darken($bg,8%);
            transition: all .4s;
    
            &::after {
                transform: scaleX(1.4) scaleY(1.6);
                opacity: 0;
            }
        }

        
        // &:hover {
        //   background:darken($bg,8%);
        //   transition: all 0.3s ease;
        // }
        // &:active {
        //   background:darken($bg,25%);
        // } 
    }

    &--white {
    @include button-bg($color-white);
    color: $color-black;

    &::after {
        background-color: $color-white;
    }
    }
    &--primary{
        @include button-bg($color-primary-dark);
        color: $color-white;
    }
    &--danger{
        @include button-bg($color-danger);
        color: $color-white;
    }

    &--full {
        width: 90%;
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);
        // background: $color-grey-light-2;
    } 
}