.container{
    max-width: 120rem;
    margin: 8rem auto;
    background-color: $color-grey-light-2;
    box-shadow: $shadow-dark;
    min-height: 50rem;

    @media only screen and (max-width: $bp-largest) {
        margin: 0;
        max-width: 100%;
        width: 100%;
        min-height: 100vh;
    }
}

.header{
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: $line;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    @media only screen and (max-width: $bp-smallest) {
        flex-wrap: wrap;
        align-content: space-around;
        height: 11rem;
    }
}

.content{
    display: flex;
    flex-direction: row-reverse;
    @media only screen and (max-width: $bp-largest) {
        flex-direction: row;
        min-height: calc(100vh - 7rem); 
    }

    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
    }
}

.sidebar{
    background-color: $color-grey-light-1;
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // text-align: center;

    min-height: 60rem;
    @media only screen and (max-width: $bp-largest) {
        min-height: calc(100vh - 7rem); 
    }
    @media only screen and (max-width: $bp-small) {
        min-height: 1rem; 
    }



    
}

.ooo{
    flex: 1;
    // min-height: 60rem;
}